@model SupplianceStore.Domain.Entities.Product

@{
    ViewBag.Title = "ProdDetails";
    Layout = "~/Views/Shared/_AdminLayoutPage1.cshtml";
}

<div class="container rew">

    <h3 class="card-title text-center">@Model.Name</h3>



    @if (Model.Emount > 100)
    {
        <p class="em_full">В наличии</p>
    }

    else if (Model.Emount > 0)
    {
        <p class="em_small">Заканчивается</p>
    }
    else
    {
        <p class="em_zero">Нет в наличии</p>
    }
    @if (Model.Discount != 0)
    {
        <p class="card-text label label-primary old_pr">@Model.Price.ToString("# грн")</p>
        var nPrice = @Model.Price * Convert.ToDecimal((100 - @Model.Discount)) * Convert.ToDecimal(0.01);
        <p class="card-text label label-primary n_price pr">@nPrice.ToString("# грн")</p>
    }
    else
    {
        <p class="card-text label label-primary pr">@Model.Price.ToString("# грн")</p>
    }


    <p class="card-text">@Model.Description</p>
    <div class="btn-group  flex-row justify-content-center">
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="card-text ">
                @Html.HiddenFor(x => x.ProductId)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Добавить в корзину" />
            </div>
        }
        @using (Html.BeginForm("AddReview", "Review"))
        {
            <div class="card-text ">
                @Html.HiddenFor(x => x.ProductId)

                <input type="submit" class="btn btn-outline-secondary text-right" value="Добавить отзыв" />
            </div>
        }
    </div>
   
    



    <div class="reviews">
        @foreach (var review in ViewBag.Reviews)
        {
            <div class="card text-center">
                <div class="card-header">
                    @review.Stars Баллов
                </div>
                <div class="card-body ">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text text-left">@review.Description</p>

                </div>
                <div class="card-footer text-muted text-left">
                    @review.Date
                </div>
            </div>



        }
    </div>


</div>
<style>
   
    .old_pr{
        text-decoration:line-through;
        color:black;
    }
    .n_price{
        color:red;
        font-size:16px;
    }
    .em_full{
        margin-top:-10px;
        color:green;
    }
    .em_small {
        margin-top: -10px;
        color: indianred;
    }
    .em_zero {
        margin-top: -10px;
        color: red;
    }
   .pr{
       font-size:18px;
   }
   .card-body{
       padding:5px;
   }
   .lnk{
       font-size:16px;
       color:black;
       font-weight:bold;
       display:inline;
       
       word-break:break-word;
   }
   .lnk:hover{
       text-decoration:none;
   }
   .rew{padding:10px; background-color:lavender;}
</style>

